@media screen and (max-width: 784px) {

    /** MAIN CONTAINER PROPERTIES **/
    main {
        margin-left: 5rem;
    }



    /** NAVIGATION PROPERTIES **/
    #side-column {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
    }

    #side-column .nav-content {
        display: none;
        flex: 1;
    }

    #side-column .nav-content.visible {
        display: flex;
    }

    #side-column.full-width {
        width: 100%;
    }

    #side-column .hamburger-menu {
        display: block;
    }



    /** ADD TASK/PROJECT FORM PROPERTIES **/
    form div.bottom {
        flex-direction: column;
    }



    /** TASK MODULE PROPERTIES **/
    .task .icons .mobile {
        display: block;
    }

    .task .icons .desktop {
        display: none;
    }

    .task .priority {
        display: none;
    }

    .task .task-top-row {
        gap: 0.5rem;
    }

    .task .top-row-right {
        gap: 1rem;
    }

    .task .task-bottom-row {
        margin-left: 1.5rem;
    }



    /** TASK LIST PROPERTIES **/
    #empty-list img {
        height: 20rem;
    }
}



@media screen and (max-width: 425px) {
    
    /** GENERAL PROPERTIES **/
    
    main {
        margin-left: auto;
    }

    #main-content {
        padding: 2rem 1rem 10rem 1rem;
    }



    /** HEADER PROPERTIES **/
    header.mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        height: 3rem;
    }

    header .nav-icon {
        fill: var(--gray);
        width: 1.5rem;
    }


    
    /** NAVIGATION PROPERTIES **/
    #side-column {
        display: none;
    }

    nav.mobile {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;

        color: var(--gray);
        background-color: var(--black);
    }

    nav.mobile {
        box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.2);
    }

    nav.mobile ul {
        display: flex;
        justify-content: space-between;
    }

    nav.mobile li.link {
        position: relative;
        padding: 0.25rem;
    }

    nav.mobile li .nav-link {
        flex-direction: column;
        gap: 0.25rem;
    }

    nav.mobile h6 {
        font-size: 0.75rem;
    }

    nav.mobile .notification {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
    }
}
