/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --black: #222222;
    --white: #F2F2F2;
    --titanium: #EBEBEB;
    --gray: #7D7D7D;
}

@font-face {
    font-family: 'Inter Regular';
    src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('./assets/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Semibold';
    src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Black';
    src: url('./assets/fonts/Inter-Black.ttf') format('truetype');
}

body {
    font-family: 'Inter Regular', 'Arial', sans-serif;
    font-size: 16px;
    color: var(--black);
    background-color: var(--white);

    height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: 20rem 1fr;
    height: 100%;
}

#side-column {
    background-color: var(--titanium);
    color: var(--gray);
    padding: 2rem;
}

#side-column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#side-column nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#side-column nav div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#side-column nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#side-column nav li {
    padding: 0.5rem;
}

.nav-icon {
    width: 1rem;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-family: 'Inter Black';
    font-size: 3rem;
}

h6 {
    font-family: 'Inter Semibold';
    font-size: 1rem;
}